**üìò Day 01: Python Basics
üéØ Learning Objectives**

By the end of this notebook, you will be able to:

Understand what Python is

=>Use print() correctly

=>Create and use variables

=>Understand basic data types

=>Take user input

=>Perform basic arithmetic operations

üß† What is Python?

Python is a high-level, interpreted, and beginner-friendly programming language widely used for:

=>Data Analysis

=>Machine Learning

=>Web Development

=>Automation

In [ ]:
#üîπ 1. Printing Output
#print() is used to display output on the screen.

print("Hello, World!")
print("Welcome to Python Data Analysis")

#You can print multiple values together:

print("Python", "is", "easy", "to", "learn")

In [ ]:
#üîπ 2. Variables
#Variables store data in memory.
name = "Alice"
age = 20
height = 5.6

print(name)
print(age)
print(height)

Rules for Variable Names

‚úÖ Must start with a letter or _
‚ùå Cannot start with a number
‚ùå No spaces allowed

üîπ 3. Data Types

Python automatically detects data types.

In [ ]:
name = "Alice"      # String
age = 20            # Integer
score = 85.75       # Float
is_student = True   # Boolean

print(type(name))
print(type(age))
print(type(score))
print(type(is_student))

Common Data Types

| Type  | Example        |
| ----- | -------------- |
| int   | `10`           |
| float | `3.14`         |
| str   | `"Python"`     |
| bool  | `True / False` |

üîπ 4. Basic Arithmetic Operations

In [ ]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Power:", a ** b)

üîπ 5. String Operations

In [ ]:
first_name = "John"
last_name = "Doe"

# Concatenation
full_name = first_name + " " + last_name
print(full_name)

# Repetition
print(first_name * 3)

6. Taking User Input

‚ö†Ô∏è input() always returns a string, so type conversion is needed.

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Hello", name)
print("You are", age, "years old")

üîπ 7. Type Conversion (Casting)

In [ ]:
x = "100"

print(type(x))

x = int(x)
print(type(x))


float(10)
str(25)
bool(1)

üîπ 8. Simple Mini Practice
üìå Program: Calculate Total and Average Marks

In [ ]:
math = int(input("Enter Math marks: "))
science = int(input("Enter Science marks: "))
english = int(input("Enter English marks: "))

total = math + science + english
average = total / 3

print("Total Marks:", total)
print("Average Marks:", average)