# Day 25 ‚Äî SQL with Python

---

## üìå Objectives
- Understand how SQL works with Python
- Use SQLite (lightweight database)
- Create tables from CSV data
- Perform SQL queries using Python
- Combine SQL + Pandas for analysis

---

## üìÇ Dataset Used
- employee_salary.csv

In [ ]:
# 1Ô∏è‚É£ Import Required Libraries
import sqlite3
import pandas as pd

## 2Ô∏è‚É£ Load Dataset using Pandas

In [ ]:
df = pd.read_csv("datasets/employee_salary.csv")

# Rename column
df.rename(columns={'Experience (Years)': 'Experience_Years'}, inplace=True)

df.head()

## 3Ô∏è‚É£ Create SQLite Database & Connection

In [ ]:
# Create SQLite database (in-memory or file-based)
conn = sqlite3.connect("employee_salary.db")

print("Database connected successfully")

## 4Ô∏è‚É£ Store Pandas DataFrame into SQL Table

In [ ]:
df.to_sql("employees", conn, if_exists="replace", index=False)

print("Table created successfully")

## 5Ô∏è‚É£ View Table Structure

In [ ]:
query = "PRAGMA table_info(employees);"
pd.read_sql(query, conn)

## 6Ô∏è‚É£ Basic SQL Queries (SELECT)

In [ ]:
query = "SELECT * FROM employees LIMIT 5;"
pd.read_sql(query, conn)

## 7Ô∏è‚É£ Filtering Data (WHERE)

In [ ]:
query = """
SELECT ID, Gender, Position, Salary
FROM employees
WHERE Salary > 150000
"""
pd.read_sql(query, conn)

## 8Ô∏è‚É£ Sorting Data (ORDER BY)

In [ ]:
query = """
SELECT ID, Position, Salary
FROM employees
ORDER BY Salary DESC
"""
pd.read_sql(query, conn)

## 9Ô∏è‚É£ Aggregation Functions (COUNT, AVG, MIN, MAX)

In [ ]:
query = """
SELECT 
    Gender,
    COUNT(*) AS Employee_Count,
    AVG(Salary) AS Avg_Salary,
    MIN(Salary) AS Min_Salary,
    MAX(Salary) AS Max_Salary
FROM employees
GROUP BY Gender
"""
pd.read_sql(query, conn)

## üîü Group By Position

In [ ]:
query = """
SELECT 
    Position,
    COUNT(*) AS Count,
    ROUND(AVG(Salary), 2) AS Avg_Salary
FROM employees
GROUP BY Position
ORDER BY Avg_Salary DESC
"""
pd.read_sql(query, conn)

## 1Ô∏è‚É£1Ô∏è‚É£ Experience-based Query

In [ ]:
query = """
SELECT 
    Position,
    Experience_Years,
    Salary
FROM employees
WHERE Experience_Years > 10
ORDER BY Salary DESC
"""
pd.read_sql(query, conn)

## 1Ô∏è‚É£2Ô∏è‚É£ SQL + Pandas Together

In [ ]:
query = """
SELECT Gender, AVG(Salary) AS Avg_Salary
FROM employees
GROUP BY Gender
"""

sql_df = pd.read_sql(query, conn)
sql_df

## 1Ô∏è‚É£3Ô∏è‚É£ Closing Database Connection

In [ ]:
conn.close()
print("Database connection closed")

## 1Ô∏è‚É£4Ô∏è‚É£ Key Learnings

- SQL can be executed directly inside Python
- SQLite is perfect for small & medium datasets
- SQL is powerful for filtering and aggregation
- Pandas + SQL together give maximum flexibility

## 1Ô∏è‚É£5Ô∏è‚É£ Practice Exercises

1. Select employees earning less than 100,000  
2. Find average salary by experience level  
3. Count employees per position  
4. Retrieve top 3 highest paid employees  
5. Filter employees with 5‚Äì10 years experience

# ‚úÖ End of Day 25 ‚Äî SQL with Python